<% include ../partials/header %>


	<div class="bigger ui segment grid">

		<div class="rlogo ui centered row"><img class="ui medium rounded image" src="<%=hotel.Hotel_logo%>"></div>
		<div class="ui centered row">
			<div class="ui centered segment vertically divided grid">
				<div class="ui centered row"><h1><%=hotel.Hotel_name%></h1></div>
				<div class="ui centered row"><p><%=hotel.Hotel_description%></p></div>
				<div class="ui centered row">
					<% for(var i=0; i<hotel.Hotel_rating; i++) {%>
						<span class="fa fa-star checked"></span>
					<% } %>
					<% for(var i=0; i<(5-hotel.Hotel_rating); i++) { %>
						<span class="fa fa-star"></span>
					<% } %>
				</div>
			</div>
				
		</div>
		
		

	</div>


<div class="ui main text segment container">
	
	<% hotel.categories.forEach( function(category, index1) { %>
		<h3 class="ui dividing header">
	 		<%=category.Category_name%>
			
			<% if(currentUser) { %>
				
				<form action="/hotels/<%=hotel.Hotel_id%>/categories/<%=category.Category_id%>/rooms/new" method="GET" style="display:inline">
	 				<button class="ui green button">ADD NEW ROOM</button>
	 			</form>

	 			<form action="/hotels/<%=hotel.Hotel_id%>/categories/<%=category.Category_id%>?_method=DELETE" method="POST" style="display:inline">
	 				<button class="ui red button">DELETE CATEGORY</button>
	 			</form>
	 		<% } %>

		</h3>

		<div class="ui top attached segment">
			<div class="ui divided items">

				<% category.rooms.forEach( function(room, index2) { %> 
					<div class="item">
						
						<div class="ui small image">
							<img src="<%=room.Room_image%>">
						</div>
						
						<div class="content pro">
							<p class="header">
								<%=room.Room_name%>
								<% if(currentUser) { %>
								<form action="/hotels/<%=hotel.Hotel_id%>/categories/<%=category.Category_id%>/rooms/<%=room.Room_id%>?_method=DELETE" method="POST" style="display:inline">
	 								<button class="ui red button">DELETE ROOM</button>
	 							</form>	
	 							<% }%>

							</p>
							<div class="description">
								<p>Price:&nbsp;&nbsp;&nbsp;<span><i class="fa fa-inr" aria-hidden="true"></i></span><%=room.Room_price%> / day</p> 
								<p><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Accomodates:&nbsp;&nbsp;<%=room.Room_accomodates%> people</p>
							</div>
							<div class="extra">
								<i class="fas fa-bed"></i> size:&nbsp;<%=room.Room_length * room.Room_breadth%> 
								<form >
									<span style="font-size:10px">FROM : </span>
									<input type="date" name="from" class="form-control input-sm" style="width:150px;display:inline"/> 
									<span style="font-size:10px">TO : </span> 
									<input type="date" name="to" class="form-control input-sm" style="width:150px;display:inline"/>  
									<input type="submit" value="book"/>
								</form>
							</div>
						</div>

					</div>
				<% }); %>

			</div>

		</div>
	<% });%>
	<% if(currentUser) { %>
		<a id="new_category" href="/hotels/<%=hotel.Hotel_id%>/categories/new" class="ui green button"> Add a new category! </a>
	<% } %>
</div>



<div class="ui main text segment container">
		

	<div class="ui divided items">
	<% hotel.reviews.forEach(function (review, index2) { %>
		<div class="item">
			<div class="content">
				<div class="header"><%=review.Fname%></div>
				<div class="extra">
    				<div class="cinema"><%=review.niceDate%></div>
    			</div>
				<div class="meta">
        			<% for(var i=0; i<review.Review_rating; i++) {%>
						<span class="checked">★</span>
					<% } %>
					<% for(var i=0; i<(5-review.Review_rating); i++) { %>
						<span>★</span>
					<% } %>
     			</div>
     			<div class="description">
       				<p><%=review.Review_text%></p>
    			</div>
			</div>
		</div>
		<% }); %>
	</div>

	<a href="/hotels/<%=hotel.Hotel_id%>/reviews/new" class="ui green button">
		Leave a review!
	</a>
</div>


<style>
	.ui.segment.grid{
		margin-right: 5px;
		margin-left: 5px;
	}
	.ui .medium.rounded.image{
		width: 15em;
		height: 15em;
		border:2px solid rgba(255, 255, 255,0.5);
	}
	.rlogo.ui.centered.row{
		padding-bottom: 0;
	}
	#new_category{
		margin-top: .8%;
	}
	.bigger.ui.segment.grid {
		background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Panoramic-Beach-Background-Download-PIC-WPD001376-1024x320.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>

<% include ../partials/footer %>